@charset "utf-8";

.body{
	text-align: center;
  font-size: 1.5rem;
  width: 75%;
  margin: 0 auto;
  background-color:black;
  color: white;
	font-family:"Roboto","游ゴシック";
	}

.header {
     height: 350px;
    background-position: center;
    background-size: cover;
    display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.precautions{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.target {
  display: block;
  margin: 3rem auto;
}
